<html>
    <head>

    </head>
    <body>
        <h1>Страница авторизации</h1>
        <form method="post">
            <p>
                <label>Имя пользователя</label>
                <input name="username">
            </p>
            <p>
                <label>Пароль</label>
                <input type="password" name="password">
            </p>
            <p>
                <input type="submit">
            </p>
        </form>
        <p>
            {% if message %}
            {{ message }}
            {% endif %}
        </p>

    </body>
</html>